@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=DM+Sans&family=Open+Sans:ital@1&display=swap');
/*font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-size: 12px;
    box-sizing: border-box;
}

.container{
    max-width: 100vw;
    padding: 0%;
    scroll-snap-type: y mandatory;
}

.colorize{
    color: #F42929;
}

.fullheight{
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: #F42929;
}

button:hover{
    background-color: #ff4040;
}

button:focus{
    outline: none;
}

/* width 
::-webkit-scrollbar {
    width: 10px;
}
  
 Track 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px black; 
    border-radius: 10px;
}
   
 Handle 
::-webkit-scrollbar-thumb {
    background: #F42929; 
    border-radius: 10px;
}
  
/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
    background: #bb2020; 
}*/

.main-wrapper {
    height: 40vh;
}

.search-input {
    width: 100%;
    box-shadow: none;
}

.gm-style *{
    outline: none;
}

.gm-fullscreen-control {
    display: none;
}

.home,.requestwrapper,.profile,.volunteer,.feed,.donors,.aboutus{
    position: relative;
    z-index: 1;
}

@media(max-width: 500px){
    .main-wrapper{
        height: 80% !important;
    }
}