.admin .orgupdates{
    margin: 20px auto;
    border: 2px solid red;
}

.admin .notifwrapper{
    height: 100vh;
    background-color: #778899;
}

.admin label{
    display: block;
    font-weight: bold;
}

.admin .pagination{
    justify-content: space-around;
}

.admin .pagination>li{
    padding: 0 7px;
}

.admin .updatesform input,.admin .updatesform textarea{
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    background-color: #ececec;
    height: 30px;
    font-size: 14px;
    outline: none;
    padding: 8px;
    margin: 10px 0;
}

.admin .updatesform textarea{
    height: 100px;
}

.adminlogin{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

.adminform{
    border: 2px solid #e2e2e2;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
}

.adminform label{
    font-weight: bold;
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

.adminform input{
    width: 100%;
    height: 30px;
    color: #444444 !important;
    border: 1px solid #e8ebed !important;
    background-color: #FDFEFF;
    padding: 6px 12px 6px 12px;
    box-shadow: inset 0 1px 4px 0 rgb(0 0 0 / 8%);
    font-size: 15px;
}

.admin-btn{
    display: block;
    margin: 20px auto 0;
    outline: none;
    border: none;
    background-color: #f42929;
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 15px;
}

.admin-btn:hover{
    background-color: #da0a0a;
}

.logheader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-warn{
    margin-top: 10px;
    text-align: center;
}

.admin-sug{
    font-size: 12px;
    margin-top: 10px;
}

.sidenav {
    height: 100vh;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 2px solid #F42929;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    cursor: pointer;
}

.sidenav p:hover {
    color: #f42929;
}

.admin {
    margin-left: 160px;
    background-color: lightslategray;
}

.admin-header{
    background-color:white;
    padding: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.admin-so{
    display: block;
    outline: none;
    border: none;
    background-color: #f42929;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 15px;
}

.admin-so:hover{
    background-color: #da0a0a;
}

@media screen and (max-width: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .admin{
        margin-left: 0;
    }

}