.donors{
    width: 100%;
    padding: 20vh 30px 5vh;
    background-color: #F42929;
    font-size: 20px !important;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}

.donorwrapper label{
    text-align: center;
    margin-top: 0
}

.donors h1{
    color: white;
}

.donorwrapper{
    background-color: white;
    padding: 20px;
    margin: 20px 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.selectionwrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.selectionwrapper>div{
    width: 45%
}

.donorwrapper input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
}

.donorwrapper select{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    text-align-last: center;
}

.searchbutton,.connectbutton{
    border: none;
    outline:none;
    width: 100px;
    border-radius: 5px;
    height: 40px;
    color: white;
    background-color: #F42929;
    font-size: 16px;
    margin: 10px;
}

.connectbutton{
    width: 100px;
    height: 35px;
}

.connectbutton>a{
    color: white !important;
}

.warnsearch{
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warnsearch h3{
    font-size: 13px !important;
    text-align: center;
}

.selection{
    width: 100%;
    margin-top: 10px;
}

.view{
    width: 50%;
    height: 40px;
    background-color: white;
    color: #5a5a5a;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px !important;
}

.activeview{
    background-color: #5c5c5c;
    color: white;
}

.donorsview{
    margin: 0 10px;
}

.listviewwrapper{
    display: flex;
    flex-direction: column;
}

.listviewwrap{
    display: flex;
    flex-wrap: wrap;
}

.listviewwrapper .active > a{
    color: white !important;
}

.listitem{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
    max-width: 45%;
    flex: 35%;
    padding: 10px;
    box-shadow: 1px 1px 5px #00000088;
}

.listitem p{
    font-size: 14px !important;
    margin: 2px
}

.listitem h3{
    font-size: 17px !important;
    margin: 2px;
    text-align: center;
}

.listitemimg{ 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px
}

.gm-style-iw-d{
    overflow: hidden !important;
}

.mapitemimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.mapitem-1{
    display: flex;
    flex-direction: row;
}

.mapitem-1-1{
    display: flex;
    flex-direction: column;
}

.mapitem-2{
    display: flex;
    flex-direction: row
}

.mapitem-2 h1{
    width: 20% !important;
    color: black
}

.mapitem-2 .connectbutton{
    width: 120px;
}

.ty{
    padding: 10px;
    color: white;
}

.ty *{
    padding: 0 !important;
    margin: 0 !important;
}

.numdonors {
    background-color: white;
    margin: 10px 0 !important;
    padding: 10px !important;
}

.numdonors *{
    color: black !important;
    text-align: center;
}

.numdonors h1{
    width:100% !important
}

.numdonors>div{
    font-size: 15px;
    margin: 0 auto !important
}

.numdonors>div>span{
    font-size: 16px
}

.msgsent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px !important
}

.sendingpanel{
    margin: 20px 0 !important
}

.yourself{
    width: 80%
}

.nodonors{
    padding: 20px !important;
    font-weight: normal !important
}

.samplelistitem{
    height: 225px;
    width: 200px;
    margin: 0 auto !important;
}

.sampletext{
    margin: 10px auto 0px !important;
    font-size: 20px;
}

@media(max-width: 500px){
    .donors{
        padding: 17vh 0 2.5%
    }
    .donors h1{
        font-size: 25px !important;
        margin: 10px;
        width: 72vw
    }
    .donorwrapper input{
        height: 30px;
    }
    .donorwrapper select{
        height: 30px;
        font-size: 14px;
    }
    .gm-style-iw-c{
        width: 300px !important;
        border-radius: 10px;
        padding: 15px !important;
    }
    .ty>h1{
        font-size: 40px !important
    }

    .ty>h2{
        width: 80%;
        font-size: 30px !important;
    }

    .selectionwrapper-1{
        width: 55%;
    }
    
    .selectionwrapper-2{
        width: 30%;
    }
    
}
@media(max-width: 360px){
    .donors h1{
        width: 80vw
    }
}