.home *{
    transition: all 1s;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-size: 40px;
    font-weight: bold;
}

h3{
    font-size: 30px;
    font-weight: bold;
}

h4{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

p{
    font-size: 30px;
    font-weight: 300;
}

a{
    font-size: 20px;
    font-weight: bold;
}

.emphasize{
    font-size: 50px;
    color: #F42929;
}

.button1{
    width: 170px;
    height: 50px;
    background-color: #F42929;
    border: none;
    border-radius: 5px;
}

.button1 a{
    color: #FFF;
    font-size: 23px;
}

.pg1,.pg3{
    text-align: left;
    padding: 25vh 0 0 10vw;
}

.pg2{
    text-align: center;
    padding: 20vh 0 0;
}

.pg2>h1,.pg2>p{
    margin: 0 auto;
    width: 50vw
}

.pg3>p{
    width:45vw;
}

.pg3{
    background-image: url('../assets/home-2-dark.png');
}

.pg4, .pg4 div, .reason-num, .pg9wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg4 {
    flex-direction: row;
    background: linear-gradient(#FFF 50%, #F42929 50%);
}

.pg4 div{
    flex-direction: column;
    background-color: #ffdfe9;
}

.pg4>div{
    margin: 0 20px;
}

.pg4img{
    overflow: hidden
}

.pg4img,.pg4img>img{
    width: 450px;
    height: 350px;
}

.pg4text{
    padding: 30px 10px 20px;
}

.pg5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F42929;
}

.pg5-2wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pg5-1wrapper{
    text-align: center;
}

.pg6>h1,.pg7>h1,.pg10>h1{
    padding: 10vh 0 0 10vh
}

.pg6, .pg6wrapper{
    display: flex;
    flex-direction: column;
}

.pg6{
    justify-content: space-around;
    overflow-y: hidden
}

.pg6wrapper{
    height: 70vh;
    width: 80vw;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.reason{
    background-color: #F42929;
    border-radius: 10px;
    width: 35vw;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
}

.reason-num{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
}

.reason-title{
    color:#FFF;
    font-size: 25px;
    margin-left: 10px;
}

.pg7wrapper .carousel-control-prev-icon,
.pg7wrapper .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.pg7wrapper .carousel-control-prev{
    top: 65vh;
    left:40%;    
}

.pg7wrapper .carousel-control-next{
    top: 65vh;
    right:40%;
}

.pg7wrapper .carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.pg7wrapper .carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.testimonial{
    display: flex !important;
    flex-direction: column;
    width: 60vw !important;
    height: 50vh;
    background-color: #F42929;
    margin: 5vh auto 10vh;
    border-radius: 30px;
    box-shadow: 20px 20px 0 rgba(255, 255, 255);
}

.testimonial-name{
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding: 40px 0 0 40px
}

.testimonial-feedback{
    color: #FFF;
    font-size: 25px;
    width: 40vw;
    padding: 40px 0 0 40px
}

.pg8>h1{
    text-align: center;
    width: 60vw;
}

.pg9>h1{
    margin-top: 5vh;
    text-align: center;
}

.pg9>p{
    text-align: center;
}

.pg9wrapper p{
    font-size: 16px;
}

.pg9wrapper{
    height: 80vh;
    flex-direction: row;
    overflow: hidden;
}

.pg9-1,.pg9-2{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 20px
}

.pg9-1-1{
    width: 500px;
    height: 250px;
    padding: 20px;
}

.pg9-1-2{
    width: 250px;
    height: 250px;
    padding: 20px;
}

.pg12, .pg8{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pg10wrapper>a:hover{
    color:black
}

.pg11>h1{
    text-align: center;
    margin: 10vh 0
}

.pg1,.pg2,.pg3,.pg8,.pg9-1-1,.pg9-1-2,.pg12{
    background-position: center;
    background-size: cover;
}

.faqhidden {
    padding: 20px;
    width: 50%;
}

.faqhidden p{
    font-size: 15px;
}

.faqbox {
    background-color: white;
    color:#444;
    cursor: pointer;
    width: 60%;
    height: 80px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid rgb(131, 131, 131);
}

.faqbox p{
    font-size: 20px;
}

.faqbox:hover {
    background-color: rgb(233, 233, 233); 
}

.hiddenfaq{
    display: none;
}

.activefaq{
    display: block;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}

.button2{
    border-radius: 10px;
    width: 230px;
    height: 50px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    padding: 0 30px;
    margin: 5px 0;
}

.disabledbutton {
    color: #fff;
    background-color: #F42929;
}

.activebutton {
    color: black;
    background-color: #fff !important;
}

.stepbox {
    background-color: #ffffff0d;
    border-radius: 10px;
    width: 340px;
    height: 200px;
    color: #FFF;
    max-width: 340px;
    padding: 20px 20px 0px;
    margin: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.stepbox-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stepbox span{
    font-size: 20px;
}

.stepbox p {
    margin-top: 20px;
    font-size: 18px;
}

.pg10 {
    background-color: #F42929;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg10wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button3{
    background-color: #FFF;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    border: none;
    padding: 0 30px;
    margin: 5vh 0;
}

.button3>a{
    font-size: 16px;
}

.blog{
    width: 23vw;
    height: 400px;
    margin: 50px 30px 0;
    background-color: #FFF;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.404);
}

.lift{
    position: relative;
    top: 0;
    transition: top ease 1s;
}

.lift:hover{
    top: -10px;
}

.blog-title{
    font-size: 25px;
    font-weight: bold;
}

.blog-content{
    font-size: 20px;
}


.pg11wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg12bgparent {
    overflow: hidden;
}

.pg12bg {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 10s;
}

.pg12bgparent:hover .pg12bg,
.pg12bgparent:focus .pg12bg {
  transform: scale(1.1);
}

.pg12wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.heartwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.heartwrap a{
    font-size: 20px;
}

.heart {
    animation: .8s infinite beatHeart;
}
  
@keyframes beatHeart {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

@media (max-width: 500px) {
    h1{
        font-size: 33px !important;
    }
    h2{
        font-size: 28px !important;
    }
    h3{
        font-size: 25px !important;
    }
    h4{
        font-size: 12px !important;
        padding:10px;
    }
    .pg3>p{
        width: 80vw;
    }
    .pg9>p{
        font-size: 20px !important;
    }
    p{
        font-size: 15px !important;
    }
    .emphasize{
        font-size: 30px !important;
    }
    a{
        font-size: 15px !important;
    }
    .pg6>h1,.pg7>h1,.pg10>h1{
        padding: 5vh 0 0 0;
        text-align: center;
    }
    .faqbox, .faqhidden{
        width: 90%;
    }
    .chevron {
        position: absolute;
        top: 75%;
        left: 50%;
        width: 25px;
        height: 8px;
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
        animation: move 3s ease-out infinite;
    }
      
    .chevron:first-child {
        animation: move 3s ease-out 1s infinite;
    }
      
    .chevron:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
    }
      
    .chevron:before,
    .chevron:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        background: #F42929;
    }
      
    .chevron:before {
        left: 0;
        transform: skew(0deg, 30deg);
    }
      
    .chevron:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
    }
      
    @keyframes move {
        25% {
          opacity: 1;
      
        }
        33% {
          opacity: 1;
          transform: translateY(30px);
        }
        67% {
          opacity: 1;
          transform: translateY(40px);
        }
        100% {
          opacity: 0;
          transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
        }
    }
      
    @keyframes pulse {
        to {
          opacity: 1;
      }
    }
    .pg1>p{
        width: 300px;
        margin: 25px 0;
    }
    .pg1,.pg3{ /*TODO: INCLUDE ALL BGSIZE:COVER IN ONE BLOCK*/
        background-size: cover;
    }
    .pg1{
        padding-top: 30vh;
        background-position: 82%
    }
    .pg3{
        padding-top: 15vh;
        background-image: url('../assets/home-2-white.png');
        background-position: -70vw -15vh;
        background-size: 800px;
        background-repeat: no-repeat;
        height: 65vh
    }
    .pg3>h2{
        width: 80vw;
    }
    .pg3>p{
        width: 65vw;
    }
    .pg2{
        height: 70vh;
        justify-content: center;
        padding-top: 10vh;
    }
    .pg2>h1{
        width: 80vw;
    }
    .pg2>p{
        text-align: center;
        margin: 25px auto;
        width: 70vw;
    }
    .pg5-1wrapper{
        display: contents;
    }
    .pg4text{
        padding: 15px 0px 15px;
    }
    .pg4text>h2{
        font-size: 25px !important;
    }
    .pg9wrapper{
        flex-direction: column;
        height: 130vh;
    }
    .pg4{
        background: linear-gradient(#FFF 50%, #FFF 50%);
        flex-direction: column;
        height: 120vh;
    }
    .pg4>div{
        margin: 10px;
        height: 50vh;
    }
    .pg5{
        justify-content: center;
        height: 115vh;
    }
    .button2{
        border: 0.5px solid white;
    }
    .pg5>h1{
        margin-top: 0 !important;
    }
    .pg6wrapper{
        flex-wrap: nowrap;
        height: 85vh
    }
    .reason{
        width: 300px;
        height: 80px;
        padding: 15px;
        margin: 15px;
    }
    .reason-title{
        font-size: 16px
    }
    .reason-num{
        min-width:30px;
        min-height:30px;
        max-width:30px;
        max-height:30px;
        font-size: 20px;
    }
    .pg5-2wrapper{
        display: contents;
        flex-direction: column;
    }
    .stepbox{
        width: 80vw;
        height: 20vh;
        margin: 3vh;
    }
    .pg7{
        height: 80vh;
    }
    .pg10{
        height: 123vh;
    }
    .testimonial{
        width: 300px !important;
        background-color: #F42929;
        margin-top: 5vh;
    }
    .testimonial-name{
        margin: 0;
        padding: 25px;
    }
    .testimonial-feedback{
        width: 300px;
        padding: 25px;
        font-size: 20px !important;
    }
    .testimonials .carousel-control-prev,
    .testimonials .carousel-control-next{
        top: 63vh; 
    }
    .pg4img{
        width: 320px;
        height: 50vh;
        overflow: hidden
    }
    .pg4img>img{
        width: 320px;
        height: 50vh;
    }
    .pg8{
        background-position: 10%;
        justify-content: flex-start;
    }
    .pg8>h1{
        width: 80vw;
        margin-top: 20vh;
    }
    .pg9{
        height:150vh
    }
    .pg9-1,.pg9-2{
        width: 42vh;
        height: 42vh;
        margin: 10px;
        overflow: unset;
    }
    .pg9-2{
        height: 84vh;
    }
    .pg9-1-1,.pg9-1-2{
        width: 42vh;
        height: 21vh;
        padding: 10px;
    }
    .pg9-1 p,.pg9-2 p{
        font-size: 14px !important;
        width: 35vh;
    }
    .pg9-1-img{
        margin-bottom: 20px;
    }
    .pg9-1 a,.pg9-2 a{
        font-size: 14px !important;
    }
    .pg10wrapper{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog{
        width: 300px;
        height: 28vh !important;
        border-radius: 20px;
        padding: 2vh;
        height: 185px;
        margin: 2vh 0px
    }
    .pg11initial{
        height:80vh
    }
    .pg11extend{
        height:100vh;
        transition: none;
    }
    .pg11>h1{
        font-size: 30px !important;
        padding-bottom: 30px;
        margin: 5vh 15vw;
    }
    .faqbox{
        height: 10vh;
        font-size: 16px;
    }
    .faqhidden{
        max-height: 25vh;
    }
    .faqhidden>p{
        font-size: 14px !important;
    }
    .pg12bgparent{
        height: 70vh;
    }
    .pg12wrapper{
        height:70vh
    }
    .pg12wrapper>h1{
        width:70vw
    }
    .heartwrap{
        width: 170px
    }
}

@media (max-height: 700px){
    h3{
        font-size: 25px !important;
    }
    .pg3>p{
        font-size:15px !important
    }
    .pg2{
        height: 80vh
    }
    .pg3{
        height:70vh;
        background-position: -95vw -20vh;
    }
    .pg5{
        height:120vh
    }
    .pg6{
        justify-content: unset;
        height: 115vh;
    }
    .pg6>h1{
        margin-bottom: 5vh;
    }
    .pg9-1 p,.pg9-2 p{
        font-size: 12px !important;
    }
    .pg10{
        height: 130vh;
    }
    .blog{
        height: 30vh !important;
    }
    .button1{
        width: 150px;
        height: 40px
    }
    .button2{
        width: 225px;
        font-size: 16px;
    }
}