.volpg1 {
    height: 100vh;
    background-color: #F42929;
    color: white;
    text-align: left;
    padding: 25vh 0 0 10vw;
}

.volpg1 p {
    font-size: 35px;
    width: 70%
}

.volpg1 button {
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

.volpg1 button:hover {
    background-color: #cbcbcb;
}

.volpg2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.volpg2>h1 {
    margin: 0 auto;
    font-size: 65px;
    width: 65vw
}

.volpg2 button {
    display: block;
    color: white;
    background-color: #F42929;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    padding: 10px 0;
    margin: 50px auto;
    font-size: 20px;
}

.volpg2 button:hover {
    background-color: #df2b2b;
}

.volpg3 h1 {
    padding: 10vh 0 0 10vw;
}

.volpg3 p {
    padding-left: 10vw;
    font-size: 30px
}

.volpg5>h1 {
    padding: 10vh 0 0 10vh
}

.form-page {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.form-page>div.active {
    border: 2px solid #B21E2E;
    background-color: #F42929;
    color: #FFF;
}

.form-page>div {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #F42929;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 2;
}

.form-page>hr {
    border: 2px solid #F42929;
    background-color: #F42929;
    top: 10px;
    position: absolute;
    width: 250px !important;
    left: 25px;
    z-index: 1;
}

.volformwrap {
    background-color: #ececec;
    padding-bottom: 5vh;
}

.volformwrap>h1 {
    margin: 0;
    padding: 5vh 0;
    text-align: center;
}

.volform {
    margin: 5vh auto 0;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 10px #0000002b;
    height: 620px;
    width: 600px;
    overflow: auto;
}

.volform * {
    font-size: 16px;
}

.volform input, .volform textarea, .volform select {
    border: none;
    border-bottom: 1px solid #555555;
    outline: none;
}

.volwrapbw>div>input, .volwrapbw>div>select {
    width: 100%;
    height: 35px
}

.volform>form>input {
    height: 35px;
    width: 100%;
    padding: 8px
}

.volform textarea {
    width: 100%;
    background-color: #f5f5f5;
}

.volform select {
    width: 60%;
}

.volbtn, .backbtn {
    display: block;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin: 30px auto 10px;
}

.volbtn {
    background-color: #F42929;
}

.backbtn {
    background-color: transparent;
    color: black
}

.backbtn:hover {
    background-color: rgb(219, 219, 219);
}

.volbtn:hover {
    background-color: #df2b2b
}

.backnext {
    display: flex;
    flex-direction: row;
}

.volform>form>label, .volwrapbw>div>label {
    display: block;
    font-weight: bold;
    margin: 25px 0 10px
}

.volform select, .volform textarea {
    color: #444444 !important;
    border: 1px solid #e8ebed !important;
    background-color: #FDFEFF;
    box-shadow: inset 0 1px 4px 0 rgb(0 0 0 / 8%);
}

.volform select {
    height: 30px;
}

.volform textarea {
    height: 100px;
    padding: 8px;
}

.manyboxes>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.manyboxes label {
    margin: 0;
}

.warning {
    color: #F42929;
    text-align: center;
}

.volconfirm {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.volconfirm>h1 {
    color: #F42929;
    font-size: 35px;
}

.volheart {
    font-size: 60px;
    color: #F42929;
    animation: 1.5s infinite beatHeart;
}

@media(max-width: 500px) {
    .volunteer {
        padding-bottom: 70px;
    }
    .volpg1 {
        padding: 25vh 5vw 0;
        height: 80vh !important;
    }
    .volpg2 {
        height: 70vh;
    }
    .volpg2>h1 {
        width: 80vw;
    }
    .volpg2 button {
        width: 200px;
        height: 45px;
        font-size: 16px;
    }
    .volpg3 {
        height: auto
    }
    .volpg3 h1 {
        padding: 50px 0 10px;
        text-align: center;
    }
    .volpg3 p {
        padding: 20px 10px;
        text-align: center;
    }
    .volpg5 {
        height: 90vh;
    }
    .volpg5>h1 {
        padding: 5vh 0 0 0;
        text-align: center;
    }
    .volform {
        width: 90%;
        padding: 10px 15px;
        height: 620px;
    }
    .volform * {
        font-size: 13px;
    }
    .volheart {
        font-size: 50px;
    }
}